header.header
    .header__balls
        img(src="static/images/content/pearl.svg" alt="NY ball").header__ball.header__ball--1
        img(src="static/images/content/pearl.svg" alt="NY ball").header__ball.header__ball--2
        img(src="static/images/content/pearl.svg" alt="NY ball").header__ball.header__ball--3
        // все остальные -- для десктопа для левой половины
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--5
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--6
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--7
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--8
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--9
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--10
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--11
        
        // все остальные -- для десктопа для правой половины
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--12
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--13
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--14
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--15
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--16
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--17
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--18
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--19
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--20
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--21
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--22
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--23
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--24
        img(src="static/images/content/pearl.svg" alt="Новогодний шарик").header__ball.header__ball--25
    .header__snow
        .header__snow-left
            .header__flake.header__flake-1
            .header__flake.header__flake-2
            .header__flake.header__flake-3
            .header__flake.header__flake-4
            .header__flake.header__flake-5
            .header__flake.header__flake-6
            .header__flake.header__flake-7
            .header__flake.header__flake-8
            .header__flake.header__flake-9
            .header__flake.header__flake-10
            .header__flake.header__flake-11
            .header__flake.header__flake-12
            .header__flake.header__flake-13
            .header__flake.header__flake-14
            .header__flake.header__flake-15
            .header__flake.header__flake-16
            .header__flake.header__flake-17
            .header__flake.header__flake-18
            .header__flake.header__flake-19
            .header__flake.header__flake-20
            .header__flake.header__flake-21
            .header__flake.header__flake-22
            .header__flake.header__flake-23
            .header__flake.header__flake-24
            .header__flake.header__flake-25
            .header__flake.header__flake-26
            .header__flake.header__flake-27
            .header__flake.header__flake-28
            .header__flake.header__flake-29
            .header__flake.header__flake-30
            .header__flake.header__flake-31
            .header__flake.header__flake-32
            .header__flake.header__flake-33
            .header__flake.header__flake-34
            .header__flake.header__flake-35
            .header__flake.header__flake-36
            .header__flake.header__flake-37
            .header__flake.header__flake-38
            .header__flake.header__flake-39
            .header__flake.header__flake-40
        .header__snow-right
            .header__flake.header__flake-1
            .header__flake.header__flake-2
            .header__flake.header__flake-3
            .header__flake.header__flake-4
            .header__flake.header__flake-5
            .header__flake.header__flake-6
            .header__flake.header__flake-7
            .header__flake.header__flake-8
            .header__flake.header__flake-9
            .header__flake.header__flake-10
            .header__flake.header__flake-11
            .header__flake.header__flake-12
            .header__flake.header__flake-13
            .header__flake.header__flake-14
            .header__flake.header__flake-15
            .header__flake.header__flake-16
            .header__flake.header__flake-17
            .header__flake.header__flake-18
            .header__flake.header__flake-19
            .header__flake.header__flake-20
            .header__flake.header__flake-21
            .header__flake.header__flake-22
            .header__flake.header__flake-23
            .header__flake.header__flake-24
            .header__flake.header__flake-25
            .header__flake.header__flake-26
            .header__flake.header__flake-27
            .header__flake.header__flake-28
            .header__flake.header__flake-29
            .header__flake.header__flake-30
            .header__flake.header__flake-31
            .header__flake.header__flake-32
            .header__flake.header__flake-33
            .header__flake.header__flake-34
            .header__flake.header__flake-35
            .header__flake.header__flake-36
            .header__flake.header__flake-37
            .header__flake.header__flake-38
            .header__flake.header__flake-39
            .header__flake.header__flake-40
    a(href="index.html" target="_self").header__link
        img(src="static/images/content/swt.svg" alt="Simple время выполнения желаний").header__link-image
    .header__time
        b.header__title До нового года осталось:
        ul.header__counter#timelist
            li.header__counter-item
                span.header__counter-num.days
                span.header__counter-title#daysNum
            li.header__counter-item
                span.header__counter-num.hours
                span.header__counter-title#hoursNum
            li.header__counter-item
                span.header__counter-num.minutes
                span.header__counter-title#minutesNum
            li.header__counter-item
                span.header__counter-num.seconds
                span.header__counter-title#secondsNum
