.age
    .age__wrapper
        button(type="button").age__closer
        
        .age__body
            b.age__nr 18+
            p.age__description Для доступа на сайт необходимо подтвердить возраст
            span.age__about Сайт содержит информацию, не рекомендованную для лиц, не достигших совершеннолетнего возраста. Сведения, размещенные на сайте, носят исключительно информационный характер и предназначены только для личного использования.
            button(type="button").age__submit Мне исполнилось 18 лет
