.greeting
    .greeting__wrapper
        button(type="button").greeting__closer
        .greeting__body
            h3.greeting__title 
                | Адвент-календарь от 
                b Simple 
                | — новый&nbsp;плейлист каждую&nbsp;неделю
            p.greeting__description Окунись с головой в предновогоднюю суету. Наполняй дом праздничной атмосферой. 
            p.greeting__description Выбирай подарки, приглашай друзей, загадывай желания — и всё это под твою любимую музыку.
            
            button(type="button").greeting__proceed Открыть календарь
