.greeting
    .greeting__wrapper
        button(type="button").greeting__closer
        .greeting__body
            h3.greeting__title 
                | Адвент-календарь с плейлистами от 
                b Simple 
            p.greeting__description Открывайте неделю за неделей на пути к Новому году, наполняйте желания и бокалы
            
            button(type="button").greeting__proceed Открыть календарь
            
            a(href="#" target="_blank").greeting__rules Правила участия в новогодней акции
