.greeting
    .greeting__wrapper
        button(type="button").greeting__closer
        
        h3.greeting__title 
            | Адвент-календарь от
            b Simple
            | — новый плейлист каждый день
        p.greeting__description Новогоднее настроение обеспечено. 
        p.greeting__description Садись в любимое кресло, открывай бутылку вина (мы подскажем, какого именно) и слушай отличную музыку.
        
        button(type="button").greeting__proceed Открыть календарь
