.video
    .video__wrapper
        button(type="button").video__closer
        
        .video__body
            .video__player
                iframe(src="https://player.vimeo.com/video/636725488?h=18efca3d1f&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen).video__player-frame
