.event {
    width: 100%;

    padding: 0;

    display: grid;
    grid-template-columns: repeat(2, minmax(154px, 1fr));
    grid-template-rows: repeat(auto-fill, 80px);
    grid-auto-flow: row dense;

    grid-column-gap: 0.625rem;
    grid-row-gap: 0.625rem;
    transition: 0.4s $cubic;

    &__item {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        .event__content {
            display: none;
        }

        &.first {
            grid-column-end: span 2;

            .event__cover {
                padding: 0.625rem 0;
            }

            .event__day {
                width: 140px;
                height: 60px;
                border: 1px solid #EAC17D;
                border-radius: 50%;

                &-nr {
                    font-weight: 400;
                    color: #EAC17D;
                    text-shadow: 1px 1px #072C14, -1px 1px 0 #072C14;
                }
            }
        }

        &.second {
            grid-row-end: span 2;

            .event__cover {
                padding: 1.25rem 0;
            }

            .event__day {
                width: 102px;
                height: 92px;
                border: 1px solid #EAC17D;
                border-radius: 42px;

                &-nr {
                    font-weight: 500;
                    color: #BF8229;
                    text-shadow: 1px 1px #EAC17D, -1px -1px 0 #EAC17D, 1px -1px 0 #EAC17D, -1px 1px 0 #EAC17D;
                }
            }
        }

        &.third {
            .event__cover {
                padding: 0.625rem 0;
            }

            .event__day {
                width: 120px;
                height: 56px;

                background-size: 24px 27px;
                border: 1px solid #EAC17D;
                border-radius: 45%;

                &-nr {
                    font-weight: 700;
                    color: $green;
                    text-shadow: 1px 1px #BF8229, -1px -1px 0 #BF8229, 1px -1px 0 #BF8229, -1px 1px 0 #BF8229;
                }

                &-month {
                    color: #B47F2A;
                }
            }
        }

        &.fourth {
            grid-row-end: span 2;

            .event__cover {
                padding: 0.625rem 0;
            }

            .event__day {
                width: 110px;
                height: 60px;
                border: 1px solid #EAC17D;
                border-radius: 50%;
                position: relative;

                &-nr {
                    font-weight: 500;
                    color: #EAC17D;
                    text-shadow: 1px 1px #F8E3C0, -1px -1px 0 #F8E3C0, 1px -1px 0 #F8E3C0, -1px 1px 0 #F8E3C0;
                }
            }
        }

        &.fifth {
            .event__cover {
                padding: 0.625rem 0;
            }

            .event__day {
                width: 120px;
                height: 84px;
                border: 1px solid #EAC17D;
                border-radius: 47%;

                &-nr {
                    font-weight: 700;
                    color: #B47F2A;
                    text-shadow: 1px 1px #F8E3C0, -1px -1px 0 #F8E3C0, 1px -1px 0 #F8E3C0, -1px 1px 0 #F8E3C0;
                }
            }
        }

        &.sixth {
            grid-column-end: span 2;

            .event__cover {
                padding: 0.625rem 0;
            }

            .event__day {
                width: 140px;
                height: 60px;
                border: 1px solid #EAC17D;
                border-radius: 50%;

                &-nr {
                    font-weight: 400;
                    color: #EAC17D;
                    text-shadow: 1px 1px #072C14, -1px 1px 0 #072C14;
                }
            }
        }

        &.seventh {
            grid-column-end: span 2;
            grid-row-end: span 2;

            align-self: center;
            justify-self: center;

            .event__cover {
                padding: 1.3125rem 0;
            }

            .event__day {
                width: 116px;
                height: 78px;
                border: 1px solid #EAC17D;
                border-radius: 50%;

                &-nr {
                    font-weight: 500;
                    color: #EAC17D;
                    text-shadow: 0px 0px 15px #EAC17D;
                }
            }

            &.active {
                max-width: 100%;
            }
        }

        &.active {
            grid-row-end: span 2;
            grid-column-end: span 2;
            transition: 0.4s $cubic;

            .event__cover {
                opacity: 0;
                visibility: hidden;
                display: none;
            }

            .event__content {
                opacity: 1;
                visibility: visible;
                display: flex;
            }
        }
    }

    &__cover {
        width: 100%;
        height: 100%;
        @include flex-setting(column, center, center);
        border: 1px solid #EAC17D;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        transition: 0.4s $cubic;

        &::after {
            position: absolute;
            content: '';

            width: 100%;
            height: 1px;
            background-color: #EAC17D;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &:hover {
            background-color: #072C14;
            box-shadow: 23px 20px 10px rgba(0, 0, 0, 0.25);
            transition: 0.4s $cubic;

            .event__day {
                background-color: #072C14;
                transition: 0.4s $cubic;
            }
        }
    }

    &__point {
        display: none;
    }

    &__day {
        @include flex-setting(column, center, center);
        background-color: $green;
        z-index: 2;
        transition: 0.4s $cubic;

        &:hover {
            background-color: #072C14;
            box-shadow: 23px 20px 10px rgba(0, 0, 0, 0.25);
            transition: 0.4s $cubic;

            .event__day-month {
                background-color: #072C14;
                transition: 0.4s $cubic;
            }
        }

        &-nr {
            font-family: $primary-font;
            font-size: 1.875rem;
            line-height: 2.25rem;
        }

        &-month {
            @include font-setting($primary-font, 0.625rem, 0.75rem, 500, #EAC17D);
            text-transform: uppercase;
        }
    }

    &__content {
        width: 100%;
        @include flex-setting(column, flex-start, center);
        background: #072C14;
        border: 1px solid #EAC17D;
        border-radius: 5px;

        &-closer {
            display: none;
        }
    }

    &__frame {
        width: 100%;
        height: 0;
        position: relative;
        padding-bottom: 100%;
        overflow: hidden;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 1px solid #EAC17D;

        &-image {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__body {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        position: relative;

        padding: 1.875rem 0.8125rem 0.8125rem 0.8125rem;
    }

    &__time {
        position: absolute;
        left: 50%;
        top: -0.9875em;
        transform: translateX(-50%);
        width: auto;
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 0.75rem, 0.9375rem, 700, #054921);
        text-transform: uppercase;
        padding: 0.25rem 1.125rem;
        background-color: #EAC17D;
        border-radius: 50%;
    }

    &__description {
        max-width: 90%;
        @include font-setting($primary-font, 1rem, 1.25rem, 500, $white);
        text-align: center;
        margin-bottom: 1.25rem;
    }

    &__links {
        justify-content: center;
        width: 100%;
        display: grid;
        grid-template-columns: 122px 165px;
        grid-column-gap: 0.875rem;

        margin-bottom: 0.625rem;

        &-btn {
            @include flex-setting(column, center, flex-end);
            @include font-setting($primary-font, 0.875rem, 1.0625rem, 500, $black);
            text-align: left;
            text-decoration: none;

            padding: 0.375rem 0.5rem 0.4375rem 0;
            position: relative;
            background-color: #EAC17D;
            border-radius: 8px;

            &::after {
                position: absolute;
                content: '';

                width: 26px;
                height: 26px;

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                top: 50%;
                left: 0.5rem;
                transform: translateY(-50%);
            }

            &--spotify {
                padding-left: 2.625rem;

                &::after {
                    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0C5.82437 0 0 5.82437 0 13C0 20.1912 5.82437 26 13 26C20.1911 26 26 20.1756 26 13C26.0155 5.82437 20.1911 0 13 0ZM18.9641 18.7622C18.7312 19.1505 18.2341 19.2593 17.8459 19.0263C14.7861 17.1625 10.9498 16.7431 6.41457 17.7682C5.97968 17.8614 5.5448 17.5974 5.45161 17.1625C5.35842 16.7276 5.62245 16.2927 6.05734 16.1995C11.0119 15.0657 15.2676 15.5472 18.6846 17.644C19.0884 17.8769 19.2126 18.374 18.9641 18.7622ZM20.5639 15.221C20.2688 15.7025 19.6475 15.8423 19.166 15.5627C15.6714 13.4038 10.3441 12.7826 6.21266 14.0406C5.66905 14.1959 5.10991 13.9008 4.95459 13.3728C4.79928 12.8292 5.09438 12.27 5.63799 12.1147C10.3596 10.6858 16.2306 11.3692 20.2533 13.8387C20.7037 14.1183 20.859 14.7395 20.5639 15.221ZM20.7037 11.5245C16.5101 9.03943 9.59855 8.80645 5.59139 10.0179C4.95459 10.2198 4.2712 9.84707 4.06929 9.21027C3.86738 8.57348 4.24014 7.89008 4.87694 7.68817C9.4743 6.29032 17.1159 6.56989 21.9307 9.42772C22.5053 9.76941 22.6917 10.5149 22.35 11.0896C22.0239 11.6798 21.2784 11.8662 20.7037 11.5245Z' fill='white'/%3E%3C/svg%3E");
                }
            }

            &--ym {
                padding-left: 2.375rem;

                &::after {
                    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_88_120)'%3E%3Cpath opacity='0.6' d='M5.2646 2.50947C7.18289 1.08002 9.46582 0.222358 11.828 0V3.92303C10.2902 4.12951 8.83167 4.71717 7.57923 5.63836C6.00972 6.81368 4.86826 8.4496 4.29752 10.3238C3.72679 12.1979 3.77435 14.1991 4.42435 16.0415C5.07435 17.8839 6.31094 19.4722 7.92801 20.5522C9.54508 21.6481 11.4792 22.1723 13.4292 22.0929C15.3792 21.9976 17.25 21.2828 18.7561 20.044C20.2622 18.8051 21.3402 17.1216 21.8158 15.2156C22.1487 13.8974 22.1805 12.5156 21.9268 11.1973L25.2244 8.5449V8.52902C26.1122 10.975 26.2548 13.6433 25.6048 16.1845C24.9231 18.8845 23.3853 21.2987 21.2292 23.0776C19.0731 24.8406 16.4097 25.8729 13.6195 26C10.8292 26.1271 8.08655 25.3647 5.77191 23.8082C3.45728 22.2517 1.69752 19.9963 0.762157 17.3598C-0.173208 14.7233 -0.236623 11.8644 0.571913 9.19609C1.38045 6.51191 3.02923 4.16127 5.2646 2.50947Z' fill='white'/%3E%3Cpath d='M22.7342 4.336L22.75 4.36776L20.5464 7.87784C19.7537 6.68664 18.6756 5.70191 17.4232 5.00307V12.9762C17.4232 15.4221 15.4415 17.4075 13 17.4075C10.5586 17.4075 8.57684 15.4221 8.57684 12.9762C8.57684 10.5303 10.5586 8.54492 13 8.54492C13.9195 8.54492 14.7598 8.83081 15.4732 9.30729V0.174728C18.3427 0.730623 20.8793 2.23948 22.7342 4.336Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_88_120'%3E%3Crect width='26' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                }
            }
        }
    }

    &__share {
        width: auto;
        @include flex-setting(row, center, center);

        &-btn {
            width: 44px;
            height: 44px;
            position: relative;
            @include flex-setting(column, center, center);

            margin-right: 0.625rem;
            border: none;
            background-color: transparent;

            &:last-child {
                margin-right: 0;
            }
        }

        .fa-facebook-f::before {
            position: absolute;
            content: '\f39e';
            font-size: 1.25rem;
            color: #EAC17D;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.2s $cubic;
        }

        .fa-vk::before {
            position: absolute;
            content: '\f189';
            font-size: 1.5rem;
            color: #EAC17D;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.2s $cubic;
        }

        .fa-telegram-plane::before {
            position: absolute;
            content: '\f3fe';
            font-size: 1.5rem;
            color: #EAC17D;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.2s $cubic;
        }

        .fa-instagram::before {
            position: absolute;
            content: '\f16d';
            font-size: 1.5rem;
            color: #EAC17D;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.2s $cubic;
        }
    }
}

@include min-screen(1280px) {
    .event {
        grid-template-columns: 385px 385px;
        grid-template-rows: repeat(4, 161px);
        grid-auto-flow: none;

        grid-column-gap: 0.9375rem;
        grid-row-gap: 0.5rem;
        position: relative;

        &.pressed {
            .event__cover {
                opacity: 0.2;
            }
        }

        &__item {
            height: 160px;
            min-height: 160px;
            background: linear-gradient(253.51deg, rgba(234, 193, 125, 0) 0%, rgba(234, 193, 125, 0.15) 49.48%, rgba(234, 193, 125, 0) 100%);
            cursor: pointer;
            outline: none;

            .event__content {
                display: none;
            }

            &.first {
                grid-column-end: span 1;

                .event__cover {
                    padding: 0;
                }

                .event__day {
                    width: 134px;
                    height: 98px;
                    background-image: url("data:image/svg+xml,%3Csvg width='136' height='99' viewBox='0 0 136 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M130.982 79.117C129.691 69.3029 129.018 59.4174 128.966 49.5188C129.018 39.6162 129.691 29.7266 130.982 19.9084C131.179 18.4661 131.063 16.9981 130.642 15.6048C130.22 14.2116 129.502 12.926 128.538 11.8362C127.577 10.7378 126.394 9.85673 125.067 9.25151C123.74 8.64628 122.299 8.3308 120.841 8.32603C120.432 8.33207 120.024 8.36065 119.619 8.41164H119.301C113.266 9.04287 107.202 9.36536 101.133 9.37786C84.0278 9.37786 73.4592 6.52813 68.6331 4.82807C68.0692 4.6203 67.4499 4.6203 66.886 4.82807C62.0721 6.52813 51.4302 9.37786 34.3982 9.37786C28.3337 9.36543 22.2739 9.04294 16.2422 8.41164H15.9368C14.2725 8.20452 12.5829 8.40832 11.0154 9.00526C9.44794 9.6022 8.05024 10.5741 6.94433 11.8362C5.97796 12.9247 5.25903 14.2101 4.83715 15.6038C4.41527 16.9974 4.30049 18.4661 4.50073 19.9084C5.77034 29.6912 6.42732 39.5439 6.46783 49.4088V49.4699C6.41157 59.3687 5.73417 69.2543 4.43964 79.0681C4.23857 80.5104 4.35296 81.9793 4.77488 83.3731C5.19679 84.7669 5.91617 86.0522 6.88324 87.1403C7.84241 88.2405 9.02537 89.1229 10.3529 89.7283C11.6804 90.3336 13.1218 90.6481 14.5806 90.6505C15.0165 90.6676 15.453 90.6594 15.8879 90.626H16.1934C22.2289 89.9912 28.2928 89.6646 34.3616 89.6476C51.4057 89.6476 62.0476 92.4973 66.8615 94.2096C67.4275 94.4053 68.0427 94.4053 68.6087 94.2096C73.4348 92.4973 84.0645 89.6476 101.109 89.6476C107.177 89.6661 113.241 89.9886 119.277 90.6138H119.582C121.247 90.8252 122.938 90.6235 124.506 90.0262C126.074 89.429 127.472 88.4547 128.575 87.1892C129.533 86.0967 130.245 84.8098 130.66 83.4166C131.075 82.0233 131.185 80.5566 130.982 79.117Z' fill='%23072C14'/%3E%3Cpath d='M67.7166 97.989C67.5372 97.9873 67.3594 97.9542 67.1913 97.8912C63.5259 96.4113 53.0061 92.9989 34.2637 92.9989C28.3298 93.0183 22.4006 93.3367 16.4987 93.9529H16.2788C15.7156 94.0257 15.1483 94.0625 14.5805 94.063C12.6542 94.0608 10.7504 93.6485 8.99544 92.8537C7.24045 92.0588 5.67437 90.8994 4.40109 89.4525C3.12782 88.0056 2.17646 86.3042 1.61012 84.4611C1.04379 82.6181 0.875428 80.6756 1.11621 78.7624C2.38326 69.0529 3.04838 59.2741 3.10775 49.4823C3.04507 39.7149 2.37996 29.9608 1.11621 20.2755C0.864082 18.36 1.0233 16.4126 1.58323 14.5636C2.14316 12.7146 3.0909 11.0065 4.36311 9.55356C5.63532 8.10059 7.20269 6.93618 8.96047 6.13816C10.7182 5.34015 12.6259 4.9269 14.556 4.92605C15.1236 4.92274 15.6909 4.95542 16.2543 5.0239H16.4865C22.3754 5.65251 28.2926 5.97909 34.2148 6.00235C52.9451 6.00235 63.5381 2.56554 67.2035 1.11009C67.3691 1.03742 67.548 0.999939 67.7289 1.00002C67.9059 0.999068 68.081 1.03663 68.242 1.11009C71.9074 2.57777 82.4516 6.00235 101.231 6.00235C107.161 5.9887 113.086 5.67028 118.983 5.04836H119.216C119.775 4.97957 120.338 4.94689 120.902 4.95051C122.832 4.95137 124.739 5.36461 126.497 6.16263C128.255 6.96064 129.822 8.12505 131.095 9.57802C132.367 11.031 133.315 12.7391 133.874 14.5881C134.434 16.4371 134.594 18.3844 134.342 20.3C133.067 29.9885 132.398 39.7471 132.338 49.519C132.389 59.2985 133.05 69.0654 134.317 78.7624C134.567 80.6782 134.406 82.6253 133.846 84.4741C133.285 86.3229 132.337 88.0308 131.066 89.4843C129.794 90.9377 128.228 92.1033 126.471 92.9033C124.714 93.7034 122.807 94.1195 120.877 94.1241C120.313 94.1244 119.75 94.0877 119.191 94.0141H118.947C113.049 93.3921 107.124 93.0737 101.194 93.0601C82.476 93.0601 71.8708 96.4969 68.2665 97.9523C68.0871 97.9992 67.9006 98.0117 67.7166 97.989V97.989Z' fill='%23054921' stroke='url(%23paint0_linear_701_89)' stroke-width='2' stroke-miterlimit='10'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_701_89' x1='67.7289' y1='1' x2='67.7289' y2='98' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.0208333' stop-color='%23BF8229'/%3E%3Cstop offset='0.510417' stop-color='%23EAC17D'/%3E%3Cstop offset='1' stop-color='%23BF8229'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
                    background-position: 50% 50%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    border: none;
                    border-radius: 0;
                    transition: 0.4s $cubic;

                    &-nr {
                        font-weight: 500;
                        color: #BF8229;
                        text-shadow: 2px 2px #EAC17D, 2px -2px #EAC17D, -2px -2px #EAC17D, -2px 2px #EAC17D, 1px 1px #EAC17D, 1px -1px #EAC17D, -1px -1px #EAC17D, -1px 1px #EAC17D;
                    }
                }

                &:hover,
                &:active,
                &:focus {
                    .event__day {
                        background-image: url("data:image/svg+xml,%3Csvg width='136' height='99' viewBox='0 0 136 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M130.982 79.117C129.691 69.3029 129.018 59.4174 128.966 49.5188C129.018 39.6162 129.691 29.7266 130.982 19.9084C131.179 18.4661 131.063 16.9981 130.642 15.6048C130.22 14.2116 129.502 12.926 128.538 11.8362C127.577 10.7378 126.394 9.85673 125.067 9.25151C123.74 8.64628 122.299 8.3308 120.841 8.32603C120.432 8.33207 120.024 8.36065 119.619 8.41164H119.301C113.266 9.04287 107.202 9.36536 101.133 9.37786C84.0278 9.37786 73.4592 6.52813 68.6331 4.82807C68.0692 4.6203 67.4499 4.6203 66.886 4.82807C62.0721 6.52813 51.4302 9.37786 34.3982 9.37786C28.3337 9.36543 22.2739 9.04294 16.2422 8.41164H15.9368C14.2725 8.20452 12.5829 8.40832 11.0154 9.00526C9.44794 9.6022 8.05024 10.5741 6.94433 11.8362C5.97796 12.9247 5.25903 14.2101 4.83715 15.6038C4.41527 16.9974 4.30049 18.4661 4.50073 19.9084C5.77034 29.6912 6.42732 39.5439 6.46783 49.4088V49.4699C6.41157 59.3687 5.73417 69.2543 4.43964 79.0681C4.23857 80.5104 4.35296 81.9793 4.77488 83.3731C5.19679 84.7669 5.91617 86.0522 6.88324 87.1403C7.84241 88.2405 9.02537 89.1229 10.3529 89.7283C11.6804 90.3336 13.1218 90.6481 14.5806 90.6505C15.0165 90.6676 15.453 90.6594 15.8879 90.626H16.1934C22.2289 89.9912 28.2928 89.6646 34.3616 89.6476C51.4057 89.6476 62.0476 92.4973 66.8615 94.2096C67.4275 94.4053 68.0427 94.4053 68.6087 94.2096C73.4348 92.4973 84.0645 89.6476 101.109 89.6476C107.177 89.6661 113.241 89.9886 119.277 90.6138H119.582C121.247 90.8252 122.938 90.6235 124.506 90.0262C126.074 89.429 127.472 88.4547 128.575 87.1892C129.533 86.0967 130.245 84.8098 130.66 83.4166C131.075 82.0233 131.185 80.5566 130.982 79.117Z' fill='%23072C14'/%3E%3Cpath d='M67.7166 97.989C67.5372 97.9873 67.3594 97.9542 67.1913 97.8912C63.5259 96.4113 53.0061 92.9989 34.2637 92.9989C28.3298 93.0183 22.4006 93.3367 16.4987 93.9529H16.2788C15.7156 94.0257 15.1483 94.0625 14.5805 94.063C12.6542 94.0608 10.7504 93.6485 8.99544 92.8537C7.24045 92.0588 5.67437 90.8994 4.40109 89.4525C3.12782 88.0056 2.17646 86.3042 1.61012 84.4611C1.04379 82.6181 0.875428 80.6756 1.11621 78.7624C2.38326 69.0529 3.04838 59.2741 3.10775 49.4823C3.04507 39.7149 2.37996 29.9608 1.11621 20.2755C0.864082 18.36 1.0233 16.4126 1.58323 14.5636C2.14316 12.7146 3.0909 11.0065 4.36311 9.55356C5.63532 8.10059 7.20269 6.93618 8.96047 6.13816C10.7182 5.34015 12.6259 4.9269 14.556 4.92605C15.1236 4.92274 15.6909 4.95542 16.2543 5.0239H16.4865C22.3754 5.65251 28.2926 5.97909 34.2148 6.00235C52.9451 6.00235 63.5381 2.56554 67.2035 1.11009C67.3691 1.03742 67.548 0.999939 67.7289 1.00002C67.9059 0.999068 68.081 1.03663 68.242 1.11009C71.9074 2.57777 82.4516 6.00235 101.231 6.00235C107.161 5.9887 113.086 5.67028 118.983 5.04836H119.216C119.775 4.97957 120.338 4.94689 120.902 4.95051C122.832 4.95137 124.739 5.36461 126.497 6.16263C128.255 6.96064 129.822 8.12505 131.095 9.57802C132.367 11.031 133.315 12.7391 133.874 14.5881C134.434 16.4371 134.594 18.3844 134.342 20.3C133.067 29.9885 132.398 39.7471 132.338 49.519C132.389 59.2985 133.05 69.0654 134.317 78.7624C134.567 80.6782 134.406 82.6253 133.846 84.4741C133.285 86.3229 132.337 88.0308 131.066 89.4843C129.794 90.9377 128.228 92.1033 126.471 92.9033C124.714 93.7034 122.807 94.1195 120.877 94.1241C120.313 94.1244 119.75 94.0877 119.191 94.0141H118.947C113.049 93.3921 107.124 93.0737 101.194 93.0601C82.476 93.0601 71.8708 96.4969 68.2665 97.9523C68.0871 97.9992 67.9006 98.0117 67.7166 97.989V97.989Z' fill='%23072C14' stroke='url(%23paint0_linear_701_89)' stroke-width='2' stroke-miterlimit='10'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_701_89' x1='67.7289' y1='1' x2='67.7289' y2='98' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.0208333' stop-color='%23BF8229'/%3E%3Cstop offset='0.510417' stop-color='%23EAC17D'/%3E%3Cstop offset='1' stop-color='%23BF8229'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
                        transition: 0.4s $cubic;
                    }
                }
            }

            &.second {
                grid-row-end: span 1;

                .event__cover {
                    padding: 0;
                }

                .event__day {
                    width: 133px;
                    height: 97px;
                    border: none;
                    border-radius: 0;
                    background-image: url('../images/content/tue.png');
                    transition: 0.4s $cubic;

                    &-nr {
                        color: $darkgreen;
                        font-weight: 200;
                        text-shadow: 2px 2px #B47F2A, -2px -2px 0 #B47F2A, 2px -2px 0 #B47F2A, -2px 2px 0 #B47F2A, 1px 1px #B47F2A, -1px -1px 0 #B47F2A, 1px -1px 0 #B47F2A, -1px 1px 0 #B47F2A;
                    }
                }

                &:hover,
                &:active,
                &:focus {
                    .event__day {
                        background-image: url('../images/content/tue-hover.png');
                        transition: 0.4s $cubic;
                    }
                }
            }

            &.third {
                grid-column-end: span 2;

                .event__cover {
                    padding: 0;
                }

                .event__day {
                    width: 284px;
                    height: 97px;
                    background-image: url('../images/content/wed.png');
                    background-size: contain;
                    border: none;
                    border-radius: 0;

                    &-nr {
                        color: #B47F2A;
                        text-shadow: 1px 1px #F8E3C0, -1px -1px 0 #F8E3C0, 1px -1px 0 #F8E3C0, -1px 1px 0 #F8E3C0;
                    }

                    &-month {
                        color: #EAC17D;
                    }
                }

                &:hover,
                &:active,
                &:focus {
                    .event__day {
                        background-image: url('../images/content/wed-hover.png');
                        transition: 0.4s $cubic;
                    }
                }

                &.active {
                    grid-column-end: span 2;

                    .event__cover {
                        opacity: 0.2;
                    }
                }
            }

            &.fourth {
                grid-row-end: span 1;

                .event__cover {
                    padding: 0;
                }

                .event__day {
                    width: 137px;
                    height: 97px;
                    border: none;
                    border-radius: 0;
                    background-image: url('../images/content/thu.png');

                    &-nr {
                        color: #EAC17D;
                        text-shadow: 1px 1px #F8E3C0, -1px -1px 0 #F8E3C0, 1px -1px 0 #F8E3C0, -1px 1px 0 #F8E3C0;
                    }
                }

                &:hover,
                &:active,
                &:focus {
                    .event__day {
                        background-image: url('../images/content/thu-hover.png');
                        transition: 0.4s $cubic;
                    }
                }
            }

            &.fifth {
                .event__cover {
                    padding: 0;
                }

                .event__day {
                    width: 133px;
                    height: 97px;
                    border: none;
                    border-radius: 0;
                    background-image: url("data:image/svg+xml,%3Csvg width='133' height='97' viewBox='0 0 133 97' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M125.161 52.0534L125.165 52.0577C129.527 56.8806 131.961 63.2788 131.951 69.9344C131.939 76.8516 129.305 83.4734 124.64 88.3516C119.977 93.2284 113.665 95.9651 107.09 95.978C102.661 95.987 98.3079 94.7561 94.4818 92.4094C94.4798 92.4081 94.4778 92.4069 94.4758 92.4057L94.2573 92.2671L94.1922 92.2259L94.1216 92.1951L93.877 92.0885C89.9644 90.3116 85.7484 89.3746 81.4798 89.3345V89.3345L81.469 89.3345C76.1564 89.3423 70.9594 90.9193 66.4758 93.8759C61.993 90.9166 56.795 89.3394 51.4817 89.3344L51.4718 89.3345C47.2028 89.3731 42.9864 90.3102 39.0741 92.0886L38.8296 92.1951L38.759 92.2259L38.6939 92.2671L38.474 92.4065C38.4723 92.4076 38.4706 92.4086 38.4689 92.4097C34.645 94.7639 30.2918 96.0023 25.8612 96C19.2862 95.987 12.9746 93.2503 8.3111 88.3735C3.6462 83.4952 1.01258 76.8736 1.0001 69.9563L1.0001 69.9554C0.981997 63.3126 3.39508 56.9217 7.73306 52.0916L7.73454 52.09L10.3484 49.1665L10.9444 48.5L10.3484 47.8334L7.73455 44.91L7.73306 44.9083C3.39508 40.0783 0.981997 33.6874 1.0001 27.0446L1.0001 27.0434C1.01081 20.1257 3.64383 13.5029 8.30906 8.62431C12.9727 3.74736 19.2851 1.01129 25.8604 1C30.2932 0.997519 34.6487 2.23698 38.474 4.59343L38.474 4.59348L38.4827 4.5987L38.7133 4.73757L38.7592 4.76516L38.8077 4.78771L39.0593 4.90466L39.0593 4.90469L39.0667 4.90808C42.9811 6.68856 47.2002 7.62682 51.4718 7.66542V7.66547L51.4824 7.66546C56.7959 7.65709 61.9933 6.07752 66.4756 3.11695C70.9581 6.07713 76.1554 7.65667 81.4688 7.66552L81.4798 7.66542C85.7511 7.62537 89.9697 6.68723 93.8843 4.90825L93.892 4.90466L94.1436 4.78771L94.1921 4.76517L94.2379 4.73758L94.4686 4.59876L94.4772 4.59343C98.3026 2.23698 102.658 0.99752 107.091 1C113.666 1.01129 119.979 3.74736 124.642 8.62431C129.307 13.5028 131.94 20.1254 131.951 27.0431C131.948 33.6812 129.516 40.0589 125.165 44.8691L125.161 44.8735L122.547 47.7969L121.951 48.4634L122.547 49.13L125.161 52.0534ZM66.723 94.041L66.7172 94.037C66.7191 94.0383 66.7211 94.0396 66.723 94.041Z' fill='%23054921' stroke='url(%23paint0_linear_701_107)' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_701_107' x1='66.4756' y1='0' x2='66.4756' y2='97' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BF8229'/%3E%3Cstop offset='0.489583' stop-color='%23EAC17D'/%3E%3Cstop offset='1' stop-color='%23BF8229'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
                    transition: 0.4s $cubic;

                    &-nr {
                        font-weight: 400;
                        color: #EAC17D;
                        text-shadow: 1px 1px #072C14, -1px 1px 0 #072C14;
                    }
                }

                &:hover,
                &:active,
                &:focus {
                    .event__day {
                        background-image: url("data:image/svg+xml,%3Csvg width='133' height='97' viewBox='0 0 133 97' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M125.161 52.0534L125.165 52.0577C129.527 56.8806 131.961 63.2788 131.951 69.9344C131.939 76.8516 129.305 83.4734 124.64 88.3516C119.977 93.2284 113.665 95.9651 107.09 95.978C102.661 95.987 98.3079 94.7561 94.4818 92.4094C94.4798 92.4081 94.4778 92.4069 94.4758 92.4057L94.2573 92.2671L94.1922 92.2259L94.1216 92.1951L93.877 92.0885C89.9644 90.3116 85.7484 89.3746 81.4798 89.3345V89.3345L81.469 89.3345C76.1564 89.3423 70.9594 90.9193 66.4758 93.8759C61.993 90.9166 56.795 89.3394 51.4817 89.3344L51.4718 89.3345C47.2028 89.3731 42.9864 90.3102 39.0741 92.0886L38.8296 92.1951L38.759 92.2259L38.6939 92.2671L38.474 92.4065C38.4723 92.4076 38.4706 92.4086 38.4689 92.4097C34.645 94.7639 30.2918 96.0023 25.8612 96C19.2862 95.987 12.9746 93.2503 8.3111 88.3735C3.6462 83.4952 1.01258 76.8736 1.0001 69.9563L1.0001 69.9554C0.981997 63.3126 3.39508 56.9217 7.73306 52.0916L7.73454 52.09L10.3484 49.1665L10.9444 48.5L10.3484 47.8334L7.73455 44.91L7.73306 44.9083C3.39508 40.0783 0.981997 33.6874 1.0001 27.0446L1.0001 27.0434C1.01081 20.1257 3.64383 13.5029 8.30906 8.62431C12.9727 3.74736 19.2851 1.01129 25.8604 1C30.2932 0.997519 34.6487 2.23698 38.474 4.59343L38.474 4.59348L38.4827 4.5987L38.7133 4.73757L38.7592 4.76516L38.8077 4.78771L39.0593 4.90466L39.0593 4.90469L39.0667 4.90808C42.9811 6.68856 47.2002 7.62682 51.4718 7.66542V7.66547L51.4824 7.66546C56.7959 7.65709 61.9933 6.07752 66.4756 3.11695C70.9581 6.07713 76.1554 7.65667 81.4688 7.66552L81.4798 7.66542C85.7511 7.62537 89.9697 6.68723 93.8843 4.90825L93.892 4.90466L94.1436 4.78771L94.1921 4.76517L94.2379 4.73758L94.4686 4.59876L94.4772 4.59343C98.3026 2.23698 102.658 0.99752 107.091 1C113.666 1.01129 119.979 3.74736 124.642 8.62431C129.307 13.5028 131.94 20.1254 131.951 27.0431C131.948 33.6812 129.516 40.0589 125.165 44.8691L125.161 44.8735L122.547 47.7969L121.951 48.4634L122.547 49.13L125.161 52.0534ZM66.723 94.041L66.7172 94.037C66.7191 94.0383 66.7211 94.0396 66.723 94.041Z' fill='%23072C14' stroke='url(%23paint0_linear_701_107)' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_701_107' x1='66.4756' y1='0' x2='66.4756' y2='97' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BF8229'/%3E%3Cstop offset='0.489583' stop-color='%23EAC17D'/%3E%3Cstop offset='1' stop-color='%23BF8229'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
                        transition: 0.4s $cubic;
                    }
                }
            }

            &.sixth {
                grid-column-end: span 1;

                .event__cover {
                    padding: 0;
                }

                .event__day {
                    width: 132px;
                    height: 97px;
                    border: none;
                    border-radius: 0;

                    background-image: url("data:image/svg+xml,%3Csvg width='134' height='99' viewBox='0 0 134 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:multiply'%3E%3Cpath d='M17.9306 77.6789C18.2706 81.593 18.6786 85.5072 19.1602 89.3627C19.1938 89.6326 19.3076 89.8808 19.4821 90.0651C19.6567 90.2495 19.8813 90.3586 20.1178 90.3739C29.7957 91.0262 39.6039 91.4633 49.2817 91.6786C64.0422 91.9787 65.9007 96.7996 65.9971 97.0867C66.0495 97.3461 66.1765 97.5775 66.3576 97.7433C66.5386 97.9091 66.763 97.9996 66.9943 98C67.2264 97.9999 67.4516 97.9096 67.6336 97.7439C67.8156 97.5782 67.9437 97.3466 67.9972 97.0867C68.0936 96.7931 69.9521 91.9787 84.7126 91.6786C94.3904 91.4372 104.199 90.9871 113.877 90.3739C114.113 90.3586 114.338 90.2495 114.512 90.0651C114.687 89.8808 114.8 89.6326 114.834 89.3627C115.31 85.4877 115.724 81.5343 116.064 77.6789C120.741 75.6527 124.798 72.0889 127.73 67.4302C131.102 62.254 132.948 55.9729 133 49.5033C132.947 43.0359 131.101 36.7572 127.73 31.5828C124.802 26.9169 120.744 23.3477 116.064 21.3211C115.724 17.407 115.31 13.4928 114.834 9.6373C114.8 9.36737 114.687 9.11917 114.512 8.93485C114.338 8.75053 114.113 8.64145 113.877 8.62613C104.199 7.97377 94.3848 7.53669 84.7069 7.32141C69.9748 7.0148 68.0936 2.20035 67.9972 1.91331C67.9448 1.6539 67.8178 1.4225 67.6368 1.2567C67.4557 1.0909 67.2313 1.00043 67 1C66.7687 1.00043 66.5443 1.0909 66.3632 1.2567C66.1822 1.4225 66.0551 1.6539 66.0027 1.91331C65.9064 2.20035 64.0536 7.0148 49.2874 7.32141C39.6152 7.56278 29.8013 8.00639 20.1234 8.62613C19.887 8.64145 19.6624 8.75053 19.4878 8.93485C19.3133 9.11917 19.1995 9.36737 19.1659 9.6373C18.6842 13.5123 18.2762 17.4657 17.9363 21.3211C13.2568 23.3425 9.19875 26.9073 6.26957 31.5698C2.89933 36.7442 1.05306 43.0229 1 49.4902C1.05186 55.9598 2.89819 62.241 6.26957 67.4172C9.19731 72.0816 13.2529 75.6505 17.9306 77.6789Z' fill='%23054921'/%3E%3Cpath d='M17.9306 77.6789C18.2706 81.593 18.6786 85.5072 19.1602 89.3627C19.1938 89.6326 19.3076 89.8808 19.4821 90.0651C19.6567 90.2495 19.8813 90.3586 20.1178 90.3739C29.7957 91.0262 39.6039 91.4633 49.2817 91.6786C64.0422 91.9787 65.9007 96.7996 65.9971 97.0867C66.0495 97.3461 66.1765 97.5775 66.3576 97.7433C66.5386 97.9091 66.763 97.9996 66.9943 98C67.2264 97.9999 67.4516 97.9096 67.6336 97.7439C67.8156 97.5782 67.9437 97.3466 67.9972 97.0867C68.0936 96.7931 69.9521 91.9787 84.7126 91.6786C94.3904 91.4372 104.199 90.9871 113.877 90.3739C114.113 90.3586 114.338 90.2495 114.512 90.0651C114.687 89.8808 114.8 89.6326 114.834 89.3627C115.31 85.4877 115.724 81.5343 116.064 77.6789C120.741 75.6527 124.798 72.0889 127.73 67.4302C131.102 62.254 132.948 55.9729 133 49.5033C132.947 43.0359 131.101 36.7572 127.73 31.5828C124.802 26.9169 120.744 23.3477 116.064 21.3211C115.724 17.407 115.31 13.4928 114.834 9.6373C114.8 9.36737 114.687 9.11917 114.512 8.93485C114.338 8.75053 114.113 8.64145 113.877 8.62613C104.199 7.97377 94.3848 7.53669 84.7069 7.32141C69.9748 7.0148 68.0936 2.20035 67.9972 1.91331C67.9448 1.6539 67.8178 1.4225 67.6368 1.2567C67.4557 1.0909 67.2313 1.00043 67 1C66.7687 1.00043 66.5443 1.0909 66.3632 1.2567C66.1822 1.4225 66.0551 1.6539 66.0027 1.91331C65.9064 2.20035 64.0536 7.0148 49.2874 7.32141C39.6152 7.56278 29.8013 8.00639 20.1234 8.62613C19.887 8.64145 19.6624 8.75053 19.4878 8.93485C19.3133 9.11917 19.1995 9.36737 19.1659 9.6373C18.6842 13.5123 18.2762 17.4657 17.9363 21.3211C13.2568 23.3425 9.19875 26.9073 6.26957 31.5698C2.89933 36.7442 1.05306 43.0229 1 49.4902C1.05186 55.9598 2.89819 62.241 6.26957 67.4172C9.19731 72.0816 13.2529 75.6505 17.9306 77.6789Z' stroke='url(%23paint0_linear_701_248)' stroke-width='2' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_701_248' x1='67' y1='1' x2='67' y2='98' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BF8229'/%3E%3Cstop offset='0.520833' stop-color='%23EAC17D'/%3E%3Cstop offset='1' stop-color='%23BF8229'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");

                    &-nr {
                        font-weight: 500;
                        color: #054921;
                        text-shadow: 1px 1px #EAC17D, -1px 1px 0 #EAC17D, -1px -1px #EAC17D, 1px -1px #EAC17D;
                    }
                }

                &:hover,
                &:active,
                &:focus {
                    .event__day {
                        background-image: url("data:image/svg+xml,%3Csvg width='134' height='99' viewBox='0 0 134 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:multiply'%3E%3Cpath d='M17.9306 77.6789C18.2706 81.593 18.6786 85.5072 19.1602 89.3627C19.1938 89.6326 19.3076 89.8808 19.4821 90.0651C19.6567 90.2495 19.8813 90.3586 20.1178 90.3739C29.7957 91.0262 39.6039 91.4633 49.2817 91.6786C64.0422 91.9787 65.9007 96.7996 65.9971 97.0867C66.0495 97.3461 66.1765 97.5775 66.3576 97.7433C66.5386 97.9091 66.763 97.9996 66.9943 98C67.2264 97.9999 67.4516 97.9096 67.6336 97.7439C67.8156 97.5782 67.9437 97.3466 67.9972 97.0867C68.0936 96.7931 69.9521 91.9787 84.7126 91.6786C94.3904 91.4372 104.199 90.9871 113.877 90.3739C114.113 90.3586 114.338 90.2495 114.512 90.0651C114.687 89.8808 114.8 89.6326 114.834 89.3627C115.31 85.4877 115.724 81.5343 116.064 77.6789C120.741 75.6527 124.798 72.0889 127.73 67.4302C131.102 62.254 132.948 55.9729 133 49.5033C132.947 43.0359 131.101 36.7572 127.73 31.5828C124.802 26.9169 120.744 23.3477 116.064 21.3211C115.724 17.407 115.31 13.4928 114.834 9.6373C114.8 9.36737 114.687 9.11917 114.512 8.93485C114.338 8.75053 114.113 8.64145 113.877 8.62613C104.199 7.97377 94.3848 7.53669 84.7069 7.32141C69.9748 7.0148 68.0936 2.20035 67.9972 1.91331C67.9448 1.6539 67.8178 1.4225 67.6368 1.2567C67.4557 1.0909 67.2313 1.00043 67 1C66.7687 1.00043 66.5443 1.0909 66.3632 1.2567C66.1822 1.4225 66.0551 1.6539 66.0027 1.91331C65.9064 2.20035 64.0536 7.0148 49.2874 7.32141C39.6152 7.56278 29.8013 8.00639 20.1234 8.62613C19.887 8.64145 19.6624 8.75053 19.4878 8.93485C19.3133 9.11917 19.1995 9.36737 19.1659 9.6373C18.6842 13.5123 18.2762 17.4657 17.9363 21.3211C13.2568 23.3425 9.19875 26.9073 6.26957 31.5698C2.89933 36.7442 1.05306 43.0229 1 49.4902C1.05186 55.9598 2.89819 62.241 6.26957 67.4172C9.19731 72.0816 13.2529 75.6505 17.9306 77.6789Z' fill='%23054921'/%3E%3Cpath d='M17.9306 77.6789C18.2706 81.593 18.6786 85.5072 19.1602 89.3627C19.1938 89.6326 19.3076 89.8808 19.4821 90.0651C19.6567 90.2495 19.8813 90.3586 20.1178 90.3739C29.7957 91.0262 39.6039 91.4633 49.2817 91.6786C64.0422 91.9787 65.9007 96.7996 65.9971 97.0867C66.0495 97.3461 66.1765 97.5775 66.3576 97.7433C66.5386 97.9091 66.763 97.9996 66.9943 98C67.2264 97.9999 67.4516 97.9096 67.6336 97.7439C67.8156 97.5782 67.9437 97.3466 67.9972 97.0867C68.0936 96.7931 69.9521 91.9787 84.7126 91.6786C94.3904 91.4372 104.199 90.9871 113.877 90.3739C114.113 90.3586 114.338 90.2495 114.512 90.0651C114.687 89.8808 114.8 89.6326 114.834 89.3627C115.31 85.4877 115.724 81.5343 116.064 77.6789C120.741 75.6527 124.798 72.0889 127.73 67.4302C131.102 62.254 132.948 55.9729 133 49.5033C132.947 43.0359 131.101 36.7572 127.73 31.5828C124.802 26.9169 120.744 23.3477 116.064 21.3211C115.724 17.407 115.31 13.4928 114.834 9.6373C114.8 9.36737 114.687 9.11917 114.512 8.93485C114.338 8.75053 114.113 8.64145 113.877 8.62613C104.199 7.97377 94.3848 7.53669 84.7069 7.32141C69.9748 7.0148 68.0936 2.20035 67.9972 1.91331C67.9448 1.6539 67.8178 1.4225 67.6368 1.2567C67.4557 1.0909 67.2313 1.00043 67 1C66.7687 1.00043 66.5443 1.0909 66.3632 1.2567C66.1822 1.4225 66.0551 1.6539 66.0027 1.91331C65.9064 2.20035 64.0536 7.0148 49.2874 7.32141C39.6152 7.56278 29.8013 8.00639 20.1234 8.62613C19.887 8.64145 19.6624 8.75053 19.4878 8.93485C19.3133 9.11917 19.1995 9.36737 19.1659 9.6373C18.6842 13.5123 18.2762 17.4657 17.9363 21.3211C13.2568 23.3425 9.19875 26.9073 6.26957 31.5698C2.89933 36.7442 1.05306 43.0229 1 49.4902C1.05186 55.9598 2.89819 62.241 6.26957 67.4172C9.19731 72.0816 13.2529 75.6505 17.9306 77.6789Z' fill='%23072C14' stroke='url(%23paint0_linear_701_248)' stroke-width='2' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_701_248' x1='67' y1='1' x2='67' y2='98' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BF8229'/%3E%3Cstop offset='0.520833' stop-color='%23EAC17D'/%3E%3Cstop offset='1' stop-color='%23BF8229'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
                        transition: 0.4s $cubic;
                    }
                }
            }

            &.seventh {
                grid-column-end: span 1;
                grid-row-end: span 1;

                align-self: start;
                justify-self: start;

                .event__cover {
                    padding: 0;
                }

                .event__day {
                    width: 132px;
                    height: 97px;
                    border: none;
                    border-radius: 0;
                    background-image: url('../images/content/sun.png');

                    &-nr {
                        font-weight: 700;
                        color: #BF8229;
                        text-shadow: 1px 1px #EAC17D, -1px 1px #EAC17D, -1px -1px #EAC17D, 1px -1px #EAC17D;
                    }
                }

                &:hover,
                &:active,
                &:focus {
                    .event__day {
                        background-image: url('../images/content/sun-hover.png');
                        transition: 0.4s $cubic;
                    }
                }

                &.active {
                    max-width: 100%;
                }
            }

            &.active {
                grid-row-end: span 1;
                grid-column-end: span 1;

                .event__cover {
                    opacity: 0.2;
                    visibility: visible;
                    display: flex;
                }

                .event__content {
                    width: 352px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 1;
                    visibility: visible;
                    display: flex;
                    box-shadow: 23px 20px 10px rgba(0, 0, 0, 0.25);
                    z-index: 10;
                    opacity: 1;
                }
            }
        }

        &__cover {
            border-width: 2px;
            border-radius: 10px;
            position: relative;

            &::after {
                height: 2px;
            }

            &:hover {
                box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.25);

                .event__day {
                    background-color: transparent;
                }
            }
        }

        &__point {
            display: block;
            position: absolute;

            width: 12px;
            height: 13px;

            filter: drop-shadow(0px 4px 4px rgba(0, 45, 20, 0.5));

            &:first-of-type {
                top: 0.4375rem;
                left: 0.6875rem;
            }

            &:nth-of-type(2) {
                top: 0.4375rem;
                right: 0.6875rem;
            }

            &:nth-of-type(3) {
                bottom: 0.4375rem;
                left: 0.6875rem;
            }

            &:last-of-type {
                bottom: 0.4375rem;
                right: 0.6875rem;
            }
        }

        &__day {
            background: linear-gradient(253.51deg, rgba(234, 193, 125, 0) 0%, rgba(234, 193, 125, 0.15) 49.48%, rgba(234, 193, 125, 0) 100%);
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            border: none;
            border-radius: 0;

            &:hover {
                background-color: transparent;
                box-shadow: none;

                .event__day-month {
                    background-color: transparent;
                }
            }

            &-nr {
                font-size: 2.5rem;
                line-height: 3.125rem;
            }

            &-month {
                font-size: 0.75rem;
                line-height: 0.9375rem;
                color: #EAC17D;
            }
        }

        &__content {
            border-width: 2px;
            border-radius: 10px;

            &-closer {
                @include flex-setting(column, center, center);
                width: 37px;
                height: 33px;

                border-top-right-radius: 9px;
                border-bottom-left-radius: 9px;
                border: none;
                background-color: #EAC17D;
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 1L7.5 7.64444M7.5 7.64444L1.28261 14M7.5 7.64444L13.7174 14M7.5 7.64444L1 1' stroke='%23C2862F' stroke-width='2'/%3E%3C/svg%3E%0A");

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: 50%;
                position: absolute;
                top: -0.0625rem;
                right: 0;
                cursor: pointer;
                outline: none;
                z-index: 10;
            }
        }

        &__frame {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-width: 2px;
        }

        &__body {
            padding: 2.25rem 1.1875rem 0.625rem 1.1875rem;
        }

        &__links {
            margin-bottom: 0.875rem;
        }
    }
}
