.week {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    background-color: $green;

    padding: 0;
    z-index: 2;

    &__list {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__item {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        max-height: 140px;
        overflow: hidden;
        position: relative;

        transition: all 0.4s $cubic;

        &::after {
            position: absolute;
            content: '';

            width: 100%;
            height: 4px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(270.03deg, #E9C082 6.15%, #EABE85 28.4%, #C89350 51.63%, #EABE85 75.05%, #E8BF81 97.32%);

            bottom: 0;
            left: 0;
        }

        &.inactive {
            pointer-events: none;

            .week__title {
                opacity: 0.5;
            }
        }

        &.opened {
            max-height: 6000px;
            background: transparent;
            transition: max-height 0.4s $cubic;

            .week__head {
                background: transparent;
                padding-bottom: 0;
            }

            .week__title {
                color: $white;

                &::after {
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 1L8 7L1 1' stroke='%23C48B37' stroke-width='2'/%3E%3C/svg%3E");
                    transform: translateY(-50%) rotate(180deg);
                }
            }

            .week__name {
                color: #BF8229;
                margin-bottom: 1.875rem;
            }
        }
    }

    &__head {
        width: 100%;

        @include flex-setting(column, flex-start, center);
        padding: 1.625rem 1.375rem 2.5rem 1.375rem;

        background: linear-gradient(180deg, #AA7D43 0%, rgba(170, 125, 67, 0) 100%), linear-gradient(90deg, #E9C082 0%, #EABE85 24.41%, #C89350 49.89%, #EABE85 75.57%, #E8BF81 100%);
    }

    &__title {
        @include font-setting($primary-font, 0.875rem, 1.0625rem, 600, $green);
        text-transform: uppercase;
        margin-bottom: 1.25rem;

        padding-right: 1.5625rem;

        position: relative;

        &::after {
            position: absolute;
            content: '';

            width: 14px;
            height: 6px;

            background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 1L8 7L1 1' stroke='%23054921' stroke-width='2'/%3E%3C/svg%3E");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            right: 0;
            top: 50%;
            transform: translateY(-50%);

            transition: 0.3s $cubic;
        }
    }

    &__name {
        @include font-setting($primary-font, 1.375rem, 2.3125rem, 600, $green);
    }

    &__body {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        padding-left: 1.375rem;
        padding-right: 1.375rem;
        margin-bottom: 2.5rem;
    }

    &__preview {
        width: 100%;
        height: 0;
        padding-bottom: 100%;

        @include flex-setting(column, center, center);
        background-image: url('../images/content/preview-bg.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;

        position: relative;
        z-index: 0;

        margin-bottom: 2rem;

        &-info {
            width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;

            @include flex-setting(column, flex-start, center);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .round {
            width: 22px;
            height: 22px;
            position: absolute;
            object-fit: contain;
            filter: drop-shadow(15px 14px 12px rgba(0, 45, 20, 0.6));

            &.round-1 {
                top: 0;
                left: 0;
                transform: scaleX(-1);
                animation: blink-nomove 12s infinite reverse;
            }

            &.round-2 {
                top: 0;
                right: 0;
                animation: blink-nomove 15s infinite alternate;
            }

            &.round-3 {
                bottom: -0.25rem;
                left: 0;
                transform: scaleX(-1);
                animation: blink-nomove 12s infinite reverse;
            }

            &.round-4 {
                bottom: -0.25rem;
                right: 0;
                animation: blink-nomove 8s infinite alternate;
            }
        }
    }

    &__subtitle {
        @include font-setting($primary-font, 1.25rem, 1.375rem, 600, $white);
        text-align: center;

        margin-bottom: 0.9375rem;

        position: relative;
    }

    &__description {
        width: 100%;
        @include font-setting($primary-font, 0.875rem, 1.0625rem, 500, $white);
        text-align: center;
    }

    &__info {
        width: 100%;

        @include flex-setting(column, center, center);

        background-image: url('../images/content/info-bg.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: -5px;
        margin-bottom: 1rem;
        padding: 2.875rem 2.875rem;

        aspect-ratio: 1 / 1;

        position: relative;

        display: none;

        .round {
            position: absolute;

            width: 22px;
            height: 22px;
            filter: drop-shadow(-15px 14px 12px rgba(0, 45, 20, 0.5));

            &.round-5 {
                bottom: 0;
                right: 0;
                animation: blink-nomove 8s infinite alternate;
            }

            &.round-6 {
                bottom: 0;
                left: 0;

                animation: blink-nomove 12s infinite alternate;
            }

            &.round-7 {
                width: 60px;
                height: 60px;

                top: 0.5rem;
                left: 2.875rem;

                z-index: 2;

                transform: scaleX(-1);
            }

            &.round-8 {
                width: 38px;
                height: 38px;
                right: 0.125rem;
                top: 36%;
                animation: blink 18s infinite reverse;
            }
        }

        &-frame {
            width: 100%;
            height: 0;

            padding-bottom: 100%;
            position: relative;
            overflow: hidden;

            background-color: #C0CCEF;

            &::after {
                position: absolute;
                content: '';

                width: 322px;
                height: 614px;

                background-image: url('../images/content/footer-tree.png');
                background-position: 50% 50%;
                background-size: contain;
                background-repeat: no-repeat;
                transform: rotate(11deg) translate(50%, -50%);

                right: 35%;
                top: 85%;
            }

            &::before {
                position: absolute;
                content: '';

                width: 277px;
                height: 530px;

                background-image: url('../images/content/footer-tree.png');
                background-position: 50% 50%;
                background-size: contain;
                background-repeat: no-repeat;
                transform: rotate(166deg) translate(50%, -50%);
                top: -276%;
                left: -38%;
            }
        }

        &-ball {
            width: 2px;
            height: 2px;
            border-radius: 50%;
            position: absolute;

            &--1 {
                top: 1.25rem;
                right: 3rem;
                animation: shine 8s infinite alternate;
            }

            &--2 {
                top: 5rem;
                right: 3.5rem;
                animation: shine 12s infinite reverse;
            }

            &--3 {
                bottom: 1rem;
                right: 6rem;
                animation: shine 10s infinite alternate;
            }

            &--4 {
                left: 2rem;
                bottom: 2rem;
                animation: shine 10s infinite alternate;
            }
        }

        &-details {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include flex-setting(column, flex-start, center);
        }

        &-nr {
            @include font-setting($primary-font, 6.25rem, 7.5rem, 600, C29266);
            -webkit-background-clip: text;
            background-image: linear-gradient(30deg, #C29266 13%, #F7CD81 36.98%, #FFF9ED 44.79%, #F7CD81 66.67%, #C29266 92.19%);
            -webkit-text-fill-color: transparent;
            text-shadow: 5px 4px 7px rgba(0, 0, 0, 0.15);
        }

        &-text {
            @include font-setting($primary-font, 1rem, 1.25rem, 600, #BF8229);
        }

        &-about {
            @include font-setting($primary-font, 1rem, 1.25rem, 600, #BF8229);
            text-align: center;
        }
    }
}

@include min-screen(1280px) {
    .week {
        &__item {
            &.opened {
                max-height: 940px;
                padding-bottom: 6rem;

                .week__head {
                    padding-bottom: 0;
                }

                .week__name {
                    margin-bottom: 3.1875rem;
                }
            }
        }

        &__head {
            padding-top: 2.5rem;
        }

        &__title {
            text-align: center;
            padding-right: 1.5rem;
        }

        &__name {
            text-align: center;
            font-size: 2.625rem;
            line-height: 3.125rem;
        }

        &__body {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            max-width: 1190px;

            padding-left: 0;
            padding-right: 0;
        }

        &__preview {
            max-width: 330px;
            height: 660px;
            padding-bottom: 0;
            background-image: url('../images/content/preview-bg-lg.svg');
            margin-bottom: 0;
            margin-right: 3.75rem;
            background-color: transparent;

            &-info {
                padding-left: 1.625rem;
                padding-right: 1.625rem;
            }

            .round {
                width: 22px;
                height: 22px;
                position: absolute;
                object-fit: contain;
                filter: drop-shadow(15px 14px 12px rgba(0, 45, 20, 0.6));

                &.round-1 {
                    top: 0;
                    left: 0;
                    transform: scaleX(-1);
                    animation: blink-nomove 12s infinite reverse;
                }

                &.round-2 {
                    top: 0;
                    right: 0;
                    animation: blink-nomove 15s infinite alternate;
                }

                &.round-3 {
                    bottom: -0.25rem;
                    left: 0;
                    transform: scaleX(-1);
                    animation: blink-nomove 12s infinite reverse;
                }

                &.round-4 {
                    bottom: -0.25rem;
                    right: 0;
                    animation: blink-nomove 8s infinite alternate;
                }
            }
        }

        &__event {
            grid-area: list;
        }

        &__subtitle {
            font-size: 2rem;
            line-height: 2.5rem;
            color: #EAC17D;

            margin-bottom: 1.375rem;
        }

        &__description {
            font-size: 1rem;
            line-height: 1.25rem;
        }
    }
}
