include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;900&family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet")
    body.body
        .bubbles-body#body
        audio(autoplay src="static/audio/bg-sound.mp3" type="audio/mpeg")
        include ../modules/header/header
        main.main
            section.week
                ul.week__list
                    li.week__item
                        <!--Заголовок/описание-->
                        .week__head
                            h2.week__title 7 недель до нового года
                            p.week__name 
                                span.week__sub Время ещё есть!
                        .week__body
                            <!--Превью недели-->
                            .week__preview
                                img(src="static/images/content/pearl.svg" alt="Новогодний шарик").round.round-1
                                img(src="static/images/content/pearl.svg" alt="Новогодний шарик").round.round-2
                                img(src="static/images/content/pearl.svg" alt="Новогодний шарик").round.round-3
                                img(src="static/images/content/pearl.svg" alt="Новогодний шарик").round.round-4
                                
                                .week__flakes
                                    .week__flakes-item.week__flakes-item--1
                                    .week__flakes-item.week__flakes-item--2
                                    .week__flakes-item.week__flakes-item--3
                                    .week__flakes-item.week__flakes-item--4
                                    .week__flakes-item.week__flakes-item--5
                                    .week__flakes-item.week__flakes-item--6
                                    .week__flakes-item.week__flakes-item--7
                                    .week__flakes-item.week__flakes-item--8
                                .week__preview-info
                                    h2.week__subtitle Время наполнить.... вишлист
                                    p.week__description Запускаем режим «Успеть все до НГ»! Готовимся завершать дела, которые давно откладывали, чтобы начать 2022 с чистого листа. Но это чуть позже. А сейчас самое важное — наполнить бокал, составить свой вишлист, обсудить с друзьями новогодние планы и разыграть Тайного Санту. Главное — всегда держи под рукой наши плейлисты, которые будут напоминать о предновогодних делах.
                            <!--Список дней-->
                            ul.week__event.event
                                +eventItem('first', 'event-1', '15', 'ноября', '2021-11-15', '15 ноября', 'Здесь какой-то текст — может быть, теплые слова приветствия?', '#', '#')
                                +eventItem('second', 'event-2', '16', 'ноября', '2021-11-16', '16 ноября', '', '#', '#')
                                +eventItem('third', 'event-1', '17', 'ноября', '2021-11-17', '17 ноября', '', '#', '#')
                                +eventItem('fourth', 'event-2', '18', 'ноября', '2021-11-18', '18 ноября', 'Здесь какой-то текст — может быть, теплые слова приветствия?', '#', '#')
                                +eventItem('fifth', 'event-1', '19', 'ноября', '2021-11-19', '19 ноября', '', '#', '#')
                                +eventItem('sixth', 'event-2', '20', 'ноября', '2021-11-20', '20 ноября', 'Здесь какой-то текст — может быть, теплые слова приветствия?', '#', '#')
                                +eventItem('seventh', 'event-1', '21', 'ноября', '2021-11-21', '21 ноября', 'Здесь какой-то текст — может быть, теплые слова приветствия?', '#', '#')
                    li.week__item
                        .week__head
                            h2.week__title 6 недель до нового года
                            p.week__name 
                                span.week__sub Выбираем подарки 
                                span.week__emoji &#x1F381;
                        .week__body
                            <!--Превью недели-->
                            .week__preview
                                img(src="static/images/content/pearl.svg" alt="Новогодний шарик").round.round-1
                                img(src="static/images/content/pearl.svg" alt="Новогодний шарик").round.round-2
                                img(src="static/images/content/pearl.svg" alt="Новогодний шарик").round.round-3
                                img(src="static/images/content/pearl.svg" alt="Новогодний шарик").round.round-4
                                .week__preview-info
                                    h2.week__subtitle Время наполнить... корзину подарками
                                    p.week__description Новый год — волшебное время. Но у него есть один коварный нюанс — перед Новым годом подарки с полок исчезают моментально. Наш совет — купить все заранее. Для этого составляем список, кому покупаем подарки. Затем уточняем, что нужно купить. Главное — создать атмосферу. Для этого наполняем бокал и включаем плейлист. Уютная электроника поможет расслабиться и не ошибиться с выбором.
                            <!--Список дней-->
                            ul.week__event.event
                                +eventItem('first', 'event-1', '22', 'ноября', '2021-11-22', '22 ноября', 'Здесь какой-то текст — может быть, теплые слова приветствия?', '#', '#')
                                +eventItem('second', 'event-2', '23', 'ноября', '2021-11-23', '23 ноября', '', '#', '#')
                                +eventItem('third', 'event-1', '24', 'ноября', '2021-11-24', '24 ноября', '', '#', '#')
                                +eventItem('fourth', 'event-2', '25', 'ноября', '2021-11-25', '25 ноября', 'Здесь какой-то текст — может быть, теплые слова приветствия?', '#', '#')
                                +eventItem('fifth', 'event-1', '26', 'ноября', '2021-11-26', '26 ноября', '', '#', '#')
                                +eventItem('sixth', 'event-2', '27', 'ноября', '2021-11-27', '27 ноября', 'Здесь какой-то текст — может быть, теплые слова приветствия?', '#', '#')
                                +eventItem('seventh', 'event-1', '28', 'ноября', '2021-11-28', '28 ноября', 'Здесь какой-то текст — может быть, теплые слова приветствия?', '#', '#')
                    li.week__item.inactive
                        .week__head
                            h2.week__title 5 недель до нового года
                            p.week__name 
                                span.week__sub
                                span.week__emoji &#x1F914;
                    li.week__item.inactive
                        .week__head
                            h2.week__title 4 недели до нового года
                            p.week__name 
                                span.week__sub
                                span.week__emoji &#x1F457;&#x1F3A9;	
                    li.week__item.inactive
                        .week__head
                            h2.week__title 3 недели до нового года
                            p.week__name 
                                span.week__sub 
                                span.week__emoji &#x2728;
                    li.week__item.inactive
                        .week__head
                            h2.week__title 2 недели до нового года
                            p.week__name 
                                span.week__sub
                                span.week__emoji &#x1F4A5;
                    li.week__item.inactive
                        .week__head
                            h2.week__title 1 недели до нового года
                            p.week__name 
                                span.week__sub
                                span.week__emoji &#x26A1;
                    li.week__item.inactive
                        .week__head
                            h2.week__title Итоги
                            p.week__name 
                                span.week__sub
                                span.week__emoji &#x2728;&#x1F4A5;&#x26A1;
        include ../modules/footer/footer
        include ../modules/blocks/greeting
        include ../modules/blocks/age
        include ../modules/blocks/video
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js")
        script(src="static/js/bubbles.js")
        script(src="static/js/balls.js")
        script(src="static/js/main.js")
        script(src="static/js/counter.js")
        //script(src="static/js/date.js")
        block script
