// Colors
$white: #fff;
$black: #000;
$bronze: #C48B37;
$green: #054921;
$darkgreen: #072C14;
// Sizes
$base-font-size: 16px;

$tablet: 768px;
$large: 1024px;
$desktop: 1280px;

$content: 1000px;

// Fonts
$primary-font: 'Montserrat', sans-serif;

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);

$text-black: $black;
$text-white: $white;
