footer.footer
    a(href='#' target="_blank").footer__link
        img(src="static/images/content/footer-logo.svg" alt="Simple logo").footer__link-image
    picture.footer__frame
        .footer__balls#balls
        source(srcset="static/images/content/tree.webp" type="image/webp")
        img(src="static/images/content/tree.png" alt="Simple tree").footer__frame-image
